<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edidevteste.whatsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.edidevteste.whatsappjava.view.ConversaPessoalActivity"
            android:parentActivityName="com.edidevteste.whatsappjava.view.PrincipalActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.edidevteste.whatsappjava.view.PrincipalActivity" />
        </activity>

        <activity android:name="com.edidevteste.whatsappjava.view.PrincipalActivity" />
        <activity android:name="com.edidevteste.whatsappjava.view.CadastroUsuarioActivity" />
        <activity android:name="com.edidevteste.whatsappjava.view.ValidadorActivity" />
        <activity android:name="com.edidevteste.whatsappjava.view.LoginActivity" />
        <activity android:name="com.edidevteste.whatsappjava.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>